input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $black;
	border: 0.0625rem solid $black;
	border-radius: 0.1875rem;
	padding: 0.5rem;

	&:focus {
		color: $black;
	}
}

select {
	border: 0.0625rem solid $black;
}

textarea {
	width: 100%;
}
